#main_page{
    background-color: darksalmon;
}

#camera{
    height: 300px ;
    width:  350px ;
    border-width: 2px ;
    border-color: black ;
    border-style: dashed ;
}

#result_img{
    height: 300px ;
    width:  350px ;
    border-width: 2px ;
    border-color: black ;
    border-style: dashed ;
}